<div class="row">
    <div class="col l12">
        <h5 class="card-title bq-indigo-text">
            Parent Communication
            <span class="btn btn-indigo " (click)="openNewDialog()">Create New</span>
            <span class="col l7" style="margin-top:-9px;" >
                <select class="dropdown col l6">
                    <option value="default" selected="selected">Select Message Type</option>
                    <option value="Messages">
                        Messages
                    </option>
                    <option value="Notifications">
                        Notifications
                    </option>
                </select>&nbsp;
                <select class="dropdown col l3" style="margin-left: 20px;">
                    <option value="inbox" selected="selected">
                        Inbox
                    </option>
                    <option value="sent">
                        Sent
                    </option>
                </select>
            </span>
           
        </h5>
        <br>
        <div class="col l12">
            <div class="grid">
                <ag-grid-angular class="ag-theme-balham" style="width: 100%;
                                height: 63vh;margin-left: 0px;" [enableSorting]="true" [enableFilter]="false" [rowData]="rowData"
                    [columnDefs]="columnDefs" rowSelection="multiple" [suppressContextMenu]="true" [suppressMenuMainPanel]="true"
                    [enableColResize]="true"
                    [suppressMenuColumnPanel]="true" [floatingFilter]="true" (cellClicked)="onCellClicked($event)">
                </ag-grid-angular>
            </div>
        </div>
    </div>
</div>