<div class="row card bq-indigo">
    <div class="col xl12 l12 m12 s12">
        <h5 class="card-title bq-indigo-text">
            Project / Activity - Grade 4 - Unit I Probability . Basics
            <span class="btn btn-indigo " (click)="onBack()">Back</span>
        </h5>
        <br>
        <div class="col xl12 l12 m12 s12 grid">
            <jqxTreeGrid #myTreeGrid (onRowClick)="rowClick($event)" [width]="getWidth()" [height]="getHeight()"
                [source]="dataAdapter" [columns]="columns" [rendered]="rendered" [altRows]="true" [autoRowHeight]="true"
                [editSettings]="editSettings" [ready]="ready">
            </jqxTreeGrid>
        </div>
    </div>
</div>