<div class="row card bq-purple">
    <div class="col l12 m12 s12">
        <h5 class="card-title bq-purple-text">
            Prerequisite Standards Assessment Summary

            <span class="btn btn-purple " (click)="onBack()">Back</span>
            <!-- <span class="col l3">
                <select class="dropdown">
                    <option value="default" selected="selected">Select Knowledge Level</option>
                    <option value="atrisk">
                        At risk
                    </option>
                    <option value="lowperforming">
                        Low Performing
                    </option>
                    <option value="satisfactory">
                        Satisfactory
                    </option>
                    <option value="abvavg">
                        Above average
                    </option>
                    <option value="mastered">
                        Mastered
                    </option>
                </select>&nbsp;
            </span> -->

        </h5>
        <p style="font-size: 10px"> (for postlesson assessment Prerequisite column and learning method is not required)</p>
        <br>
        <div class="col l12 m12 s12" style="padding: 0">
            <div class="grid">
                <jqxTreeGrid #TreeGrid (onCellClick)="cellClick($event)" [width]="getWidth()" [height]="getHeight()"
                    [source]="dataAdapter" [columns]="columns" [rendered]="rendered" [altRows]="true" [autoRowHeight]="true"
                    [columnsResize]="true" [sortable]="true" [filterable]="true" [filterMode]="'advanced'"
                    [editSettings]="editSettings" [ready]="ready">
                </jqxTreeGrid>
            </div>
        </div>
    </div>
</div>