<div class="dialog">
    <div *ngIf="content">
        <h5 class="card-title bq-pink-text">
            Content Collection

            <a (click)="closeDialog()">
                <span class="btn btn-danger right">
                    <mat-icon>clear</mat-icon>
                </span>
            </a>
        </h5>

        <mat-form-field>
            <input type="search" matInput placeholder="Search">
        </mat-form-field>
        <span class="btn btn-blue">
            Add
        </span>
        <span class="btn btn-pink">
            Save and Publish
        </span>
    </div>

    <div *ngIf="resources">
        <h5 class="card-title bq-pink-text">
            Adding to My Learning resources
        </h5>

        <mat-form-field>
            <mat-label>
                Select Content Collection
            </mat-label>
            <mat-select>
                <mat-option value="1">
                    Probability - Grade 6
                </mat-option>
                <mat-option value="2">
                    Real Numbers - Grade 5
                </mat-option>
                <mat-option value="3">
                    Sets - Grade 7
                </mat-option>
            </mat-select>
        </mat-form-field>
        <span class="btn btn-blue">
            Add
        </span>
        <span class="btn btn-danger" (click)="closeDialog()">
           Cancel
        </span>

    </div>
</div>