<div class="row card bq-indigo">
    <div class="col col xl12 l12 m12 s12">
        <h5 class="card-title bq-indigo-text">
            Projects / Activities
            <span class="btn btn-indigo " (click)="onBack()">Back</span>
        </h5>
        <br>

        <div class="col xl12 l12 m12 s12" style="padding: 0">
            <div class="grid">
                <jqxTreeGrid #TreeGrid (onRowClick)="rowClick($event)" [width]="getWidth()" [height]="getHeight()"
                    [source]="dataAdapter" [columns]="columns" [rendered]="rendered" [altRows]="true" [autoRowHeight]="true"
                    [columnsResize]="true" [sortable]="true" [filterable]="true" [filterMode]="'advanced'"
                    [editSettings]="editSettings">
                </jqxTreeGrid>
            </div>
        </div>
    </div>
</div>