<div class="row card bq-green">
    <div class="col l12 m12 s12">
        <h5 class="title bq-text-green">
            Circulars
            <span class="btn btn-green right" (click)="onBack()">Back</span>
        </h5>
        <div class="col l12 m12 s12 grid">
            <jqxTreeGrid #TreeGrid (onCellClick)="cellClick($event)" [width]="getWidth()" [height]="getHeight()"
                [source]="dataAdapter" [columns]="columns" [rendered]="rendered" [altRows]="true" [autoRowHeight]="true" [columnsResize]="true" [sortable]="true" [filterable]="true" [filterMode]="'advanced'"
                [editSettings]="editSettings">
            </jqxTreeGrid>
        </div>

    </div>
</div>