@import "../../../../../styles/variables";
@import "../../../../../styles/common";
@import "../../../../../styles/responsive";
.card {
    height: calc(87.3vh);
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: 0;
    font-weight: 400;
    overflow: auto;
  }  
.card-title {
    font-weight: 400;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
    span {
      font-size: 11px;
      float: right;
      margin-right: 2px;
    }
  }
  select {
    color: $color-royalblue;
    text-transform: uppercase;
  }
  
@media #{$ipad-tab} {
  .card {
    height: calc(93vh);
  }
}

@media #{$tab} {
  .card {
    height: calc(92.5vh);
  }
}

@media #{$phone} {
  .card {
    height: calc(90vh);
  }
}