<div class="dialog">
        <h5 class="card-title bq-indigo-text">Reply
                <a (click)="closeDialog()">
                        <span class="btn btn-danger right">
                                <mat-icon>clear</mat-icon>
                        </span>
                </a>
        </h5>
        <div class="collection">
                <div class="collection-item">
                        <span class="s6 left">
                                <b>From</b>: Parent of
                                <b>Ganesh</b> &nbsp;
                                <b>Grade </b>: 4 &nbsp;
                                <b>Section</b>: B
                        </span>
                        <span class="s6 right">
                                <b>Date</b>:
                                <b>26/09/18</b>
                        </span>
                </div>
                <div class="collection-item">
                        <span class="s12 left">
                                <b>Subject</b>: Could not do well in Maths
                        </span>
                </div>
                <div class="collection-item">
                        <span class="s12 left truncate">
                                <b>Message</b>:My son could not concentrate on maths subjects.
                        </span>
                </div>
                <div class="collection-item">
                        <span class="s12 left">
                                <b>Reply</b>:
                                <br>
                                <span class="s12">
                                        <br>
                                        <textarea style="width: 623px;
                                                height: 138px;">
                                              </textarea>
                                </span>
                        </span>
                        <div class="s12 right">
                                <span class="btn btn-success reply-now">
                                        Send
                                </span>
                        </div>
                </div>
        </div>
</div>