<div class="row">
    <div class="col s12 m12 l12 xl6">
        <div class="card bq-pink">
            <div class="card-content">
                <span class="card-title bq-pink-text">
                    My Course Subscriptions

                    <span class="btn btn-pink right" (click)="openCoursesDetails()">
                        View Details
                    </span>
                </span>

                <div class="row col s12 m12 l12 xl12">
                    <div class="col s3 m3 l3 xl3 count">
                        20 <br>
                        <span class="count-span btn-primary">
                            New
                        </span>

                    </div>
                    <div class="col s3 m3 l3 xl3 count">
                        05 <br>
                        <span class="count-span  btn-danger">
                            Pending
                        </span>
                    </div>
                    <div class="col s3 m3 l3 xl3 count">
                        05 <br>
                        <span class="count-span btn-warning">
                            In Progress
                        </span>
                    </div>
                    <div class="col s3 m3 l3 xl3 count">
                        10 <br>
                        <span class="count-span btn-success">
                            Completed
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12 xl6">
        <div class="card bq-pink">
            <div class="card-content">
                <span class="card-title bq-pink-text col s12 m6 l6 xl6">
                    My Courses
                </span>
                <span class="btn btn-pink right" (click)="openMyCourseDetails()">
                    View Details
                </span>
                <span class="btn btn-success right" style="margin-right:10px;" (click)="openNewCourse()">
                    Create New
                </span>

                <div class="row col s12 m12 l12 xl12">
                    <div class="col s3 m3 l2  xl2 count">
                        06 <br>
                        <span class="count-span btn-primary">
                            Drafts
                        </span>
                    </div>
                    <div class="col s3 m3 l2  xl2 count">
                        04 <br>
                        <span class="count-span  btn-success">
                            Published
                        </span>
                    </div>
                    <div class="col s3 m3 l3 xl3 count">
                        02 <br>
                        <span class="count-span btn-danger">
                            Pending Approval
                        </span>
                    </div>
                    <div class="col s3 m3 l2  xl2 count">
                        06 <br>
                        <span class="count-span btn-success">
                            Approved
                        </span>
                    </div>
                    <div class="col s3 m3 l3 xl3 count">
                        02 <br>
                        <span class="count-span btn-danger">
                            Changes Required
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12 xl12">
        <div class="card bq-pink">
            <div class="card-content">
                <span class="card-title bq-pink-text col s12 m6 l6 xl6">
                    Student Courses
                </span>

                <span class="btn btn-pink right" (click)="openStudentCourseDetails()">
                    View Details
                </span>

                <span class="btn btn-success right" (click)="openAssignCourse()" style="margin-right:10px">
                    Assign New Course
                </span>


                <div class="row col s12 m12 l12 xl12">
                    <div class="col s3 m3 l2 xl2 count">
                        06 <br>
                        <span class="count-span btn-primary">
                            Telugu
                        </span>
                    </div>
                    <div class="col s3 m3 l2 xl2 count">
                        04 <br>
                        <span class="count-span  btn-success">
                            Hindi
                        </span>
                    </div>
                    <div class="col s3 m3 l2 xl2 count">
                        02 <br>
                        <span class="count-span btn-brown">
                            English
                        </span>
                    </div>
                    <div class="col s3 m3 l2 xl2 count">
                        06 <br>
                        <span class="count-span btn-pink">
                            Mathematics
                        </span>
                    </div>
                    <div class="col s3 m3 l2  xl2 count">
                        02 <br>
                        <span class="count-span btn-indigo">
                            Science
                        </span>
                    </div>
                    <div class="col s3 m3 l2  xl2 count">
                        08 <br>
                        <span class="count-span btn-lightslategrey">
                            Social Science
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>