<div class="dialog">
        <h5 class="card-title bq-indigo-text">Messages
                <a (click)="closeDialog()">
                        <span class="btn btn-indigo">
                                <mat-icon>clear</mat-icon>
                        </span>
                </a>
        </h5>
        <div class="content-list">
                <ul>
                        <li>Cras justo odio Cras justo odioCras justo odioCras justo odioCras justo odio Cras justo odioCras
                                justo odioCras justo odioCras justo odio Cras justo odioCras justo odioCras justo odioCras
                                justo odio Cras justo odioCras justo odioCras justo odioCras justo odio
                                <hr>
                        </li>

                        <li>Dapibus ac facilisis in Cras justo odioCras justo odioCras justo odioCras justo odio Cras justo odioCras
                                justo odioCras justo odioCras justo odio Cras justo odioCras justo odioCras justo odioCras
                                justo odio Cras justo odioCras justo odioCras justo odioCras justo odio Cras justo odioCras
                                justo odioCras justo odioCras justo odio
                                <hr>
                        </li>
                        <li>Morbi leo risus Cras justo odioCras justo odioCras justo odioCras justo odio Cras justo odioCras
                                justo odioCras justo odioCras justo odio Cras justo odioCras justo odioCras justo odioCras
                                justo odio Cras justo odioCras justo odioCras justo odioCras justo odio
                                <hr>
                        </li>

                </ul>
        </div>
</div>