@import "../../styles/variables";
@import "../../styles/common";
@import "../../styles/responsive";

nav {
  background-color: $color-lightgrey;
}
.logo {
  width: 150px;
  height: 60px;
  background: url("/assets/images/logo.png");
  background-repeat: no-repeat, repeat;
  background-color: $color-lightgrey;
  background-position: center;
  // background-size: contain;
  background-size: 175px;
  display: inline-block;
  left: 20px;
  position: relative;
}
mat-chip {
  font-size: 12px;
  padding: 6px;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 0;
  padding: 30px;
}
.header-logout {
  font-size: 10px;
  padding: 0 14px;
}
.header-spacer {
  flex: 1 1 auto;
}
.btn-royalblue {
  background-color: $color-royalblue;
  color: $color-white;
  font-size: 12px;
  cursor: pointer;
}
.filter-card {
  text-align: center;
  min-width: 38%;
  top: 1%;
  padding: 1px 20px;
  font-family: sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  height: calc(6vh);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-weight: 400;
  background-color: #004d73;
  position: absolute;
  left: 30%;
  animation: pulse 2s ease infinite alternate,
    nudge 2s linear infinite alternate;
}
.mat-select {
  display: inline-block;
  width: 100% !important;
  outline: 0;
  color: white !important;
}

.placeHolder .mat-select-placeholder {
  color: white !important;
}

.btn-lightslategrey {
  font-family: sans-serif;
  font-size: 13px;
  padding: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transform: translateY(2px);
  cursor: pointer;
}


@media #{$system} {
  .filter-card{
    min-width: 38% !important;
    left: 30% !important;
  }
}

@media #{$large}{
  .filter-card{
    left: 22% !important;
  }
}


@media #{$laptop} {
  .filter-card{
 //   left: 26% !important;
    left: 18% !important;
  }
}


@media #{$medium} {
  .filter-card{
 //   left: 21% !important;
  left: 21% !important;

  }
}

@media #{$extra-medium} {
  .filter-card{
 //   left: 21% !important;
  left: 16% !important;
  }
}

@media #{$small-medium} {
  .filter-card{
    display: none;
  }
}




@media #{$tab} {
  .filter-card{
    display:none !important;
  }
}

@media #{$phone} {
  .filter-card{
    display:none;
  }
}
