<!--Header-->
<mat-toolbar>
    <mat-toolbar-row>
        <span class="logo">
        </span>
        <span class="header-spacer">

            <div *ngIf="showManageSubjectsFilter">
                <div class="filter-card">
                    <form [formGroup]="filterForm">
                        <mat-form-field>
                            <mat-select placeholder="Select Curriculum" formControlName="curriculum">
                                <mat-option value="A">CBSE</mat-option>
                                <mat-option value="B">Stateboard</mat-option>
                                <mat-option value="C">Extra Curricular</mat-option>
                            </mat-select>
                        </mat-form-field>&nbsp;
                        <mat-form-field>
                            <mat-select placeholder="Select Grade" formControlName="grade">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                                <mat-option value="4">4</mat-option>
                                <mat-option value="5">5</mat-option>
                            </mat-select>
                        </mat-form-field>&nbsp;
                        <span class="btn-lightslategrey">Apply Filter</span>
                    </form>
                </div>
            </div>

            <div *ngIf="showAttendanceFilter">
                <div class="filter-card">
                    <form [formGroup]="filterForm">
                        <mat-form-field>
                            <mat-select placeholder="Select Grade" formControlName="grade">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                                <mat-option value="4">4</mat-option>
                                <mat-option value="5">5</mat-option>
                            </mat-select>
                        </mat-form-field>&nbsp;
                        <mat-form-field>
                            <mat-select placeholder="Select Section" formControlName="section">
                                <mat-option value="">Select Section</mat-option>
                                <mat-option value="A">A</mat-option>
                                <mat-option value="B">B</mat-option>
                                <mat-option value="C">C</mat-option>
                                <mat-option value="D">D</mat-option>
                                <mat-option value="E">E</mat-option>
                            </mat-select>
                        </mat-form-field>&nbsp;
                        <span class="btn-lightslategrey">Apply Filter</span>
                    </form>
                </div>
            </div>

            <div *ngIf="showClassRoomDashboardFilter">
                <div class="filter-card">
                    <form [formGroup]="filterForm">
                        <mat-form-field>
                            <mat-select placeholder="Select Grade" formControlName="grade">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                                <mat-option value="4">4</mat-option>
                                <mat-option value="5">5</mat-option>
                            </mat-select>
                        </mat-form-field>&nbsp;
                        <mat-form-field>
                            <mat-select placeholder="Select Section" formControlName="section">
                                <mat-option value="">Select Section</mat-option>
                                <mat-option value="A">A</mat-option>
                                <mat-option value="B">B</mat-option>
                                <mat-option value="C">C</mat-option>
                                <mat-option value="D">D</mat-option>
                                <mat-option value="E">E</mat-option>
                            </mat-select>
                        </mat-form-field>&nbsp;
                        <mat-form-field>
                            <mat-select placeholder="Select Subject" formControlName="subject">
                                <mat-option value="Maths">Mathematics</mat-option>
                                <mat-option value="Physics">Physics</mat-option>
                                <mat-option value="Chemistry">Chemistry</mat-option>
                                <mat-option value="Civics">Civics</mat-option>
                                <mat-option value="Geography">Geography</mat-option>
                            </mat-select>
                        </mat-form-field>&nbsp;
                        <div *ngIf="showStudent">
                            <mat-form-field>
                                <mat-select placeholder="Select Student" formControlName="student">
                                    <mat-option value="Maths">Rajesh</mat-option>
                                    <mat-option value="Physics">Suresh</mat-option>
                                    <mat-option value="Chemistry">Ramesh</mat-option>
                                    <mat-option value="Civics">Ajith</mat-option>
                                    <mat-option value="Geography">Vijay</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <span class="btn-lightslategrey">Apply Filter</span>
                    </form>
                </div>
            </div>

            <div *ngIf="showClassRoomPerformanceFilter">
                <div class="filter-card">
                    <form [formGroup]="filterForm">
                        <mat-form-field>
                            <mat-select placeholder="Select Grade" formControlName="grade">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                                <mat-option value="4">4</mat-option>
                                <mat-option value="5">5</mat-option>
                            </mat-select>
                        </mat-form-field>&nbsp;
                        <mat-form-field>
                            <mat-select placeholder="Select Section" formControlName="section">
                                <mat-option value="">Select Section</mat-option>
                                <mat-option value="A">A</mat-option>
                                <mat-option value="B">B</mat-option>
                                <mat-option value="C">C</mat-option>
                                <mat-option value="D">D</mat-option>
                                <mat-option value="E">E</mat-option>
                            </mat-select>
                        </mat-form-field>&nbsp;
                        <mat-form-field>
                            <mat-select placeholder="Select Subject" formControlName="subject">
                                <mat-option value="Maths">Mathematics</mat-option>
                                <mat-option value="Physics">Physics</mat-option>
                                <mat-option value="Chemistry">Chemistry</mat-option>
                                <mat-option value="Civics">Civics</mat-option>
                                <mat-option value="Geography">Geography</mat-option>
                            </mat-select>
                        </mat-form-field>&nbsp;
                        <span class="btn-lightslategrey">Apply Filter</span>
                    </form>
                </div>
            </div>

            <div *ngIf="showStudentProfile">
                <div class="filter-card">
                    <form [formGroup]="filterForm">
                        <mat-form-field>
                            <mat-select placeholder="Select Grade" formControlName="grade">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                                <mat-option value="4">4</mat-option>
                                <mat-option value="5">5</mat-option>
                            </mat-select>
                        </mat-form-field>&nbsp;
                        <mat-form-field>
                            <mat-select placeholder="Select Section" formControlName="section">
                                <mat-option value="">Select Section</mat-option>
                                <mat-option value="A">A</mat-option>
                                <mat-option value="B">B</mat-option>
                                <mat-option value="C">C</mat-option>
                                <mat-option value="D">D</mat-option>
                                <mat-option value="E">E</mat-option>
                            </mat-select>
                        </mat-form-field>&nbsp;
                        <mat-form-field>
                            <mat-select placeholder="Select Student" formControlName="student">
                                <mat-option value="Maths">Rajesh</mat-option>
                                <mat-option value="Physics">Suresh</mat-option>
                                <mat-option value="Chemistry">Ramesh</mat-option>
                                <mat-option value="Civics">Ajith</mat-option>
                                <mat-option value="Geography">Vijay</mat-option>
                            </mat-select>
                        </mat-form-field>&nbsp;
                        <span class="
                        ">Apply Filter</span>
                    </form>
                </div>
            </div>

            <div *ngIf="showStudentPerformance">
                <div class="filter-card">
                    <form [formGroup]="filterForm">
                        <mat-form-field>
                            <mat-select placeholder="Select Grade" formControlName="grade">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                                <mat-option value="4">4</mat-option>
                                <mat-option value="5">5</mat-option>
                            </mat-select>
                        </mat-form-field>&nbsp;
                        <mat-form-field>
                            <mat-select placeholder="Select Section" formControlName="section">
                                <mat-option value="">Select Section</mat-option>
                                <mat-option value="A">A</mat-option>
                                <mat-option value="B">B</mat-option>
                                <mat-option value="C">C</mat-option>
                                <mat-option value="D">D</mat-option>
                                <mat-option value="E">E</mat-option>
                            </mat-select>
                        </mat-form-field>&nbsp;
                        <mat-form-field>
                            <mat-select placeholder="Select Subject" formControlName="subject">
                                <mat-option value="Maths">Mathematics</mat-option>
                                <mat-option value="Physics">Physics</mat-option>
                                <mat-option value="Chemistry">Chemistry</mat-option>
                                <mat-option value="Civics">Civics</mat-option>
                                <mat-option value="Geography">Geography</mat-option>
                            </mat-select>
                        </mat-form-field>&nbsp;
                        <mat-form-field>
                            <mat-select placeholder="Select Student" formControlName="student">
                                <mat-option value="Maths">Rajesh</mat-option>
                                <mat-option value="Physics">Suresh</mat-option>
                                <mat-option value="Chemistry">Ramesh</mat-option>
                                <mat-option value="Civics">Ajith</mat-option>
                                <mat-option value="Geography">Vijay</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <span class="btn-lightslategrey ">Apply Filter</span> &nbsp;
                    </form>
                </div>
            </div>

            <div *ngIf="showLessonPlan">
                <div class="filter-card">
                    <form [formGroup]="filterForm">
                        <div class="row">
                            <mat-form-field>
                                <mat-select placeholder="Select Grade" formControlName="grade">
                                    <mat-option value="1">1</mat-option>
                                    <mat-option value="2">2</mat-option>
                                    <mat-option value="3">3</mat-option>
                                    <mat-option value="4">4</mat-option>
                                    <mat-option value="5">5</mat-option>
                                </mat-select>
                            </mat-form-field>&nbsp;
                            <mat-form-field>
                                <mat-select placeholder="Select Section" formControlName="section">
                                    <mat-option value="">Select Section</mat-option>
                                    <mat-option value="A">A</mat-option>
                                    <mat-option value="B">B</mat-option>
                                    <mat-option value="C">C</mat-option>
                                    <mat-option value="D">D</mat-option>
                                    <mat-option value="E">E</mat-option>
                                </mat-select>
                            </mat-form-field>&nbsp;
                            <mat-form-field>
                                <mat-select placeholder="Select Subject" formControlName="subject">
                                    <mat-option value="Maths">Mathematics</mat-option>
                                    <mat-option value="Physics">Physics</mat-option>
                                    <mat-option value="Chemistry">Chemistry</mat-option>
                                    <mat-option value="Civics">Civics</mat-option>
                                    <mat-option value="Geography">Geography</mat-option>
                                </mat-select>
                            </mat-form-field>&nbsp;
                            <!-- <dropdown-tree [treeSource]="treeSource">
                                </dropdown-tree> -->

                            <mat-form-field>
                                <mat-select placeholder="Select Lesson" formControlName="lesson">
                                    <mat-optgroup *ngFor="let group of lessons" [label]="group.name" [disabled]="group.disabled">
                                        <mat-option *ngFor="let lessonchildren  of group.lessonchildren" [value]="lessonchildren.value">
                                            {{lessonchildren.viewValue}}
                                        </mat-option>
                                    </mat-optgroup>
                                </mat-select>

                            </mat-form-field>
                            &nbsp;
                            <span class="btn-lightslategrey">Apply Filter</span>
                        </div>
                    </form>
                </div>
            </div>

            <div *ngIf="showLessonTracking">
                <div class="filter-card">
                    <form [formGroup]="filterForm">
                        <div class="row">
                            <mat-form-field>
                                <mat-select placeholder="Select Grade" formControlName="grade">
                                    <mat-option value="1">1</mat-option>
                                    <mat-option value="2">2</mat-option>
                                    <mat-option value="3">3</mat-option>
                                    <mat-option value="4">4</mat-option>
                                    <mat-option value="5">5</mat-option>
                                </mat-select>
                            </mat-form-field>&nbsp;
                            <mat-form-field>
                                <mat-select placeholder="Select Section" formControlName="section">
                                    <mat-option value="">Select Section</mat-option>
                                    <mat-option value="A">A</mat-option>
                                    <mat-option value="B">B</mat-option>
                                    <mat-option value="C">C</mat-option>
                                    <mat-option value="D">D</mat-option>
                                    <mat-option value="E">E</mat-option>
                                </mat-select>
                            </mat-form-field>&nbsp;
                            <mat-form-field>
                                <mat-select placeholder="Select Subject" formControlName="subject">
                                    <mat-option value="Maths">Mathematics</mat-option>
                                    <mat-option value="Physics">Physics</mat-option>
                                    <mat-option value="Chemistry">Chemistry</mat-option>
                                    <mat-option value="Civics">Civics</mat-option>
                                    <mat-option value="Geography">Geography</mat-option>
                                </mat-select>
                            </mat-form-field>&nbsp;
                            <!-- <dropdown-tree [treeSource]="treeSource">
                                        </dropdown-tree> -->

                            <mat-form-field>
                                <mat-select placeholder="Select Lesson" formControlName="lesson">
                                    <mat-optgroup *ngFor="let group of lessons" [label]="group.name" [disabled]="group.disabled">
                                        <mat-option *ngFor="let lessonchildren  of group.lessonchildren" [value]="lessonchildren.value">
                                            {{lessonchildren.viewValue}}
                                        </mat-option>
                                    </mat-optgroup>
                                </mat-select>

                            </mat-form-field>
                            &nbsp;
                            <span class="btn-lightslategrey">Apply Filter</span>
                        </div>
                    </form>
                </div>
            </div>

            <div *ngIf="showClassroomPerformanceDetailedViewFilter">
                <div class="filter-card">
                    <form [formGroup]="filterForm">
                        <div class="row">
                            <mat-form-field>
                                <mat-select placeholder="Select Grade" formControlName="grade">
                                    <mat-option value="1">1</mat-option>
                                    <mat-option value="2">2</mat-option>
                                    <mat-option value="3">3</mat-option>
                                    <mat-option value="4">4</mat-option>
                                    <mat-option value="5">5</mat-option>
                                </mat-select>
                            </mat-form-field>&nbsp;
                            <mat-form-field>
                                <mat-select placeholder="Select Section" formControlName="section">
                                    <mat-option value="">Select Section</mat-option>
                                    <mat-option value="A">A</mat-option>
                                    <mat-option value="B">B</mat-option>
                                    <mat-option value="C">C</mat-option>
                                    <mat-option value="D">D</mat-option>
                                    <mat-option value="E">E</mat-option>
                                </mat-select>
                            </mat-form-field>&nbsp;
                            <mat-form-field>
                                <mat-select placeholder="Select Subject" formControlName="subject">
                                    <mat-option value="Maths">Mathematics</mat-option>
                                    <mat-option value="Physics">Physics</mat-option>
                                    <mat-option value="Chemistry">Chemistry</mat-option>
                                    <mat-option value="Civics">Civics</mat-option>
                                    <mat-option value="Geography">Geography</mat-option>
                                </mat-select>
                            </mat-form-field>&nbsp;
                            <!-- <dropdown-tree [treeSource]="treeSource">
                                            </dropdown-tree> -->

                            <mat-form-field>
                                <mat-select placeholder="Select Lesson" formControlName="lesson">
                                    <mat-optgroup *ngFor="let group of lessons" [label]="group.name" [disabled]="group.disabled">
                                        <mat-option *ngFor="let lessonchildren  of group.lessonchildren" [value]="lessonchildren.value">
                                            {{lessonchildren.viewValue}}
                                        </mat-option>
                                    </mat-optgroup>
                                </mat-select>

                            </mat-form-field>
                            &nbsp;
                            <span class="btn-lightslategrey">Apply Filter</span>
                        </div>
                    </form>
                </div>
            </div>

            <div *ngIf="showCurriculumContent">
                <div class="filter-card">
                    <form [formGroup]="filterForm">
                        <div class="row">
                            <mat-form-field>
                                <mat-select placeholder="Select Grade" formControlName="grade">
                                    <mat-option value="1">1</mat-option>
                                    <mat-option value="2">2</mat-option>
                                    <mat-option value="3">3</mat-option>
                                    <mat-option value="4">4</mat-option>
                                    <mat-option value="5">5</mat-option>
                                </mat-select>
                            </mat-form-field>&nbsp;
                            <mat-form-field>
                                <mat-select placeholder="Select Subject" formControlName="subject">
                                    <mat-option value="Maths">Mathematics</mat-option>
                                    <mat-option value="Physics">Physics</mat-option>
                                    <mat-option value="Chemistry">Chemistry</mat-option>
                                    <mat-option value="Civics">Civics</mat-option>
                                    <mat-option value="Geography">Geography</mat-option>
                                </mat-select>
                            </mat-form-field>&nbsp;
                            <!-- <dropdown-tree [treeSource]="treeSource">
                                    </dropdown-tree> -->

                            <mat-form-field>
                                <mat-select placeholder="Select Lesson" formControlName="lesson">
                                    <mat-optgroup *ngFor="let group of lessons" [label]="group.name" [disabled]="group.disabled">
                                        <mat-option *ngFor="let lessonchildren  of group.lessonchildren" [value]="lessonchildren.value">
                                            {{lessonchildren.viewValue}}
                                        </mat-option>
                                    </mat-optgroup>
                                </mat-select>

                            </mat-form-field>
                            &nbsp;
                            <span class="btn-lightslategrey">Apply Filter</span>
                        </div>
                    </form>
                </div>
            </div>

        </span>
        <span class="header-logout">
            <span class="filter-icon" (click)="openFilterDialog()">
                <mat-icon>tune</mat-icon>
            </span>
            <button class="btn btn-royalblue">
                My Profile
            </button>
        </span>


    </mat-toolbar-row>

</mat-toolbar>
<!--Header-->