@import "../../styles/variables";
@import "../../styles/insightus";

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 0;
  padding: 35px;
}
.logo > img {
    width: 30%;
}
.header-logout {
    font-size: 10px;
    padding: 0 14px;
}
.header-spacer {
    flex: 1 1 auto;
}
.btn-royalblue {
    background-color:$color-royalblue;
    color: $color-white;
    font-size: 12px;
    cursor: pointer;
}