<div class="row card bq-purple">
    <div class="col xl12 l12 m12 s12">
        <h5 class="card-title bq-purple-text">
            Pre-requisite Standard Performance - Grade 4 - Unit I Probability . Basics
            <span class="btn btn-purple " (click)="onBack()">Back</span>
        </h5>
        <br>
            <div class="col xl12 l12 m12 s12 grid">
                <ag-grid-angular class="ag-theme-balham" style="width: 100%;
                                height: calc(69.5vh);margin-left: 0px;" [enableSorting]="true" [enableFilter]="false" [rowData]="rowData"
                    [columnDefs]="columnDefs" rowSelection="multiple" [suppressContextMenu]="true" [enableColResize]="true" [suppressMenuMainPanel]="true"
                    [suppressMenuColumnPanel]="true" [floatingFilter]="true" >
                </ag-grid-angular>
            </div>
    </div>
</div>