<div class="dialog">
    <div *ngIf="showClassroom">
        <div class="collection">
            <form [formGroup]="filterForm">
                <div class="collection-item">
                    <mat-label>Grade :</mat-label>
                    <mat-select placeholder="Select Grade" formControlName="grade" class="dropdown">
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                        <mat-option value="4">4</mat-option>
                        <mat-option value="5">5</mat-option>
                    </mat-select>
                </div>
                <div class="collection-item">
                    <mat-label>Section :</mat-label>
                    <mat-select placeholder="Select Section" formControlName="section" class="dropdown">
                        <mat-option value="A">A</mat-option>
                        <mat-option value="B">B</mat-option>
                        <mat-option value="C">C</mat-option>
                        <mat-option value="D">D</mat-option>
                        <mat-option value="E">E</mat-option>
                    </mat-select>
                </div>
                <div class="collection-item">
                    <mat-label>Subject :</mat-label>
                    <mat-select placeholder="Select Subject" formControlName="subject" class="dropdown">
                        <mat-option value="Maths">Maths</mat-option>
                        <mat-option value="Physics">Physics</mat-option>
                        <mat-option value="Chemistry">Chemistry</mat-option>
                        <mat-option value="Civics">Civics</mat-option>
                        <mat-option value="Geography">Geography</mat-option>
                    </mat-select>
                </div>
                <span (click)="closeDialog()" class="btn-lightslategrey right">
                    Apply Filter
                </span>
            </form>
        </div>
    </div>

    <div *ngIf="showAttendance">
        <div class="collection">
            <form [formGroup]="filterForm">
                <div class="collection-item">
                    <mat-label>Grade :</mat-label>
                    <mat-select placeholder="Select Grade" formControlName="grade" class="dropdown">
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                        <mat-option value="4">4</mat-option>
                        <mat-option value="5">5</mat-option>
                    </mat-select>
                </div>
                <div class="collection-item">
                    <mat-label>Section :</mat-label>
                    <mat-select placeholder="Select Section" formControlName="section" class="dropdown">
                        <mat-option value="A">A</mat-option>
                        <mat-option value="B">B</mat-option>
                        <mat-option value="C">C</mat-option>
                        <mat-option value="D">D</mat-option>
                        <mat-option value="E">E</mat-option>
                    </mat-select>
                </div>
                <span (click)="closeDialog()" class="btn-lightslategrey right">
                    Apply Filter
                </span>
            </form>
        </div>
    </div>

    <div *ngIf="showClassroomPerformance">
        <div class="collection">
            <form [formGroup]="filterForm">
                <div class="collection-item">
                    <mat-label>Grade :</mat-label>
                    <mat-select placeholder="Select Grade" formControlName="grade" class="dropdown">
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                        <mat-option value="4">4</mat-option>
                        <mat-option value="5">5</mat-option>
                    </mat-select>
                </div>
                <div class="collection-item">
                    <mat-label>Section :</mat-label>
                    <mat-select placeholder="Select Section" formControlName="section" class="dropdown">
                        <mat-option value="A">A</mat-option>
                        <mat-option value="B">B</mat-option>
                        <mat-option value="C">C</mat-option>
                        <mat-option value="D">D</mat-option>
                        <mat-option value="E">E</mat-option>
                    </mat-select>
                </div>
                <div class="collection-item">
                    <mat-label>Subject :</mat-label>
                    <mat-select placeholder="Select Subject" formControlName="subject" class="dropdown">
                        <mat-option value="Maths">Maths</mat-option>
                        <mat-option value="Physics">Physics</mat-option>
                        <mat-option value="Chemistry">Chemistry</mat-option>
                        <mat-option value="Civics">Civics</mat-option>
                        <mat-option value="Geography">Geography</mat-option>
                    </mat-select>
                </div>
                <span (click)="closeDialog()" class="btn-lightslategrey right">
                    Apply Filter
                </span>
            </form>
        </div>
    </div>

    <div *ngIf="showCurriculumContent">
        <div class="collection">
            <form [formGroup]="filterForm">
                <div class="collection-item">
                    <mat-label>Grade :</mat-label>
                    <mat-select placeholder="Select Grade" formControlName="grade" class="dropdown">
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                        <mat-option value="4">4</mat-option>
                        <mat-option value="5">5</mat-option>
                    </mat-select>
                </div>
                <div class="collection-item">
                    <mat-label>Subject :</mat-label>
                    <mat-select placeholder="Select Subject" formControlName="subject" class="dropdown">
                        <mat-option value="Maths">Maths</mat-option>
                        <mat-option value="Physics">Physics</mat-option>
                        <mat-option value="Chemistry">Chemistry</mat-option>
                        <mat-option value="Civics">Civics</mat-option>
                        <mat-option value="Geography">Geography</mat-option>
                    </mat-select>
                </div>
                <div class="collection-item">
                    <mat-label>Lesson :</mat-label>
                    <mat-select placeholder="Select Lesson" formControlName="lesson">
                        <mat-optgroup *ngFor="let group of lessons" [label]="group.name" [disabled]="group.disabled">
                            <mat-option *ngFor="let lessonchildren  of group.lessonchildren" [value]="lessonchildren.value">
                                {{lessonchildren.viewValue}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </div>
                <span (click)="closeDialog()" class="btn-lightslategrey right">
                    Apply Filter
                </span>
            </form>
        </div>
    </div>

    <div *ngIf="showProfile">
        <div class="collection">
            <form [formGroup]="filterForm">
                <div class="collection-item">
                    <mat-label>Grade :</mat-label>
                    <mat-select placeholder="Select Grade" formControlName="grade" class="dropdown">
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                        <mat-option value="4">4</mat-option>
                        <mat-option value="5">5</mat-option>
                    </mat-select>
                </div>
                <div class="collection-item">
                    <mat-label>Section :</mat-label>
                    <mat-select placeholder="Select Section" formControlName="section" class="dropdown">
                        <mat-option value="A">A</mat-option>
                        <mat-option value="B">B</mat-option>
                        <mat-option value="C">C</mat-option>
                        <mat-option value="D">D</mat-option>
                        <mat-option value="E">E</mat-option>
                    </mat-select>
                </div>
                <div class="collection-item">
                    <mat-label>Student :</mat-label>
                    <mat-select placeholder="Select Student" formControlName="student" class="dropdown">
                        <mat-option value="Rajesh">Rajesh</mat-option>
                        <mat-option value="Nirmal">Nirmal</mat-option>
                        <mat-option value="Gowtham">Gowtham</mat-option>
                        <mat-option value="Arpit">Arpit</mat-option>
                    </mat-select>
                </div>
                <span (click)="closeDialog()" class="btn-lightslategrey right">
                    Apply Filter
                </span>
            </form>
        </div>
    </div>

    <div *ngIf="showPerformance">
        <div class="collection">
            <form [formGroup]="filterForm">
                <div class="collection-item">
                    <mat-label>Subject :</mat-label>
                    <mat-select placeholder="Select Subject" formControlName="subject" class="dropdown">
                        <mat-option value="Maths">Maths</mat-option>
                        <mat-option value="Physics">Physics</mat-option>
                        <mat-option value="Chemistry">Chemistry</mat-option>
                        <mat-option value="Civics">Civics</mat-option>
                        <mat-option value="Geography">Geography</mat-option>
                    </mat-select>
                </div>
                <span (click)="closeDialog()" class="btn-lightslategrey right">
                    Apply Filter
                </span>
            </form>
        </div>
    </div>

    <div *ngIf="showPerformanceDetailedView">
        <div class="collection">
            <form [formGroup]="filterForm">
                <div class="collection-item">
                    <mat-label>Lesson :</mat-label>
                    <mat-select placeholder="Select Lesson" formControlName="lesson">
                        <mat-optgroup *ngFor="let group of lessons" [label]="group.name" [disabled]="group.disabled">
                            <mat-option *ngFor="let lessonchildren  of group.lessonchildren" [value]="lessonchildren.value">
                                {{lessonchildren.viewValue}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </div>
                <span (click)="closeDialog()" class="btn-lightslategrey right">
                    Apply Filter
                </span>
            </form>
        </div>
    </div>

    <div *ngIf="showLessonPlan">
        <div class="collection">
            <form [formGroup]="filterForm">
                <div class="collection-item">
                    <mat-label>Grade :</mat-label>
                    <mat-select placeholder="Select Grade" formControlName="grade" class="dropdown">
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                        <mat-option value="4">4</mat-option>
                        <mat-option value="5">5</mat-option>
                    </mat-select>
                </div>
                <div class="collection-item">
                    <mat-label>Section :</mat-label>
                    <mat-select placeholder="Select Section" formControlName="section" class="dropdown">
                        <mat-option value="A">A</mat-option>
                        <mat-option value="B">B</mat-option>
                        <mat-option value="C">C</mat-option>
                        <mat-option value="D">D</mat-option>
                        <mat-option value="E">E</mat-option>
                    </mat-select>
                </div>
                <div class="collection-item">
                    <mat-label>Subject :</mat-label>
                    <mat-select placeholder="Select Subject" formControlName="subject" class="dropdown">
                        <mat-option value="Maths">Maths</mat-option>
                        <mat-option value="Physics">Physics</mat-option>
                        <mat-option value="Chemistry">Chemistry</mat-option>
                        <mat-option value="Civics">Civics</mat-option>
                        <mat-option value="Geography">Geography</mat-option>
                    </mat-select>
                </div>
                <div class="collection-item">
                    <mat-label>Lesson :</mat-label>
                    <mat-select placeholder="Select Lesson" formControlName="lesson">
                        <mat-optgroup *ngFor="let group of lessons" [label]="group.name" [disabled]="group.disabled">
                            <mat-option *ngFor="let lessonchildren  of group.lessonchildren" [value]="lessonchildren.value">
                                {{lessonchildren.viewValue}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </div>
                <span (click)="closeDialog()" class="btn-lightslategrey right">
                    Apply Filter
                </span>
            </form>
        </div>
    </div>
</div>