<div class="row card bq-lightslategrey">
    <div class="col l12 m12 s12">
        <h5 class="title bq-text-lightslategrey">
            News
            <span class="btn btn-lightslategrey right" (click)="onBack()">Back</span>
        </h5>
        <div class="col l12 m12 s12 grid">

            <jqxTreeGrid #TreeGrid (onCellClick)="cellClick($event)" [width]="getWidth()" [height]="getHeight()" [source]="dataAdapter"
                [columns]="columns" [rendered]="rendered" [altRows]="true" [columnsResize]="true" [sortable]="true" [filterable]="true" [filterMode]="'advanced'" [autoRowHeight]="true" [editSettings]="editSettings"
                [ready]="ready">
            </jqxTreeGrid>

        </div>

    </div>
</div>