<div class="dialog">
        <span class="card-title" style="color: white;">Replied
                <a (click)="closeDialog()">
                        <span class="btn btn-danger right">
                                <mat-icon>clear</mat-icon>
                        </span>
                </a>
        </span>
        <div class="collection">
                <div class="collection-item">
                        <span class="col s6 left">
                                <b>From</b>: Parent of
                                <b>Ganesh</b>
                        </span>
                        <span class="col s6 right">
                                <b>Date</b>:
                                <b>26/09/18</b>
                        </span>
                </div>
                <div class="collection-item">
                        <span class="col s12 left">
                                <b>Subject</b>: Could not do well in Maths
                        </span>
                </div>
                <div class="collection-item">
                        <span class="col s12 left truncate">
                                My son could not concentrate on maths subjects.
                        </span>
                </div>
                <div class="collection-item">
                        <span class="s12  left">
                                <span class="bq-blue-text">
                                        Replied on
                                </span>
                                <b> 31/09/18</b>
                                <br>
                                <br> We will give over level best.
                        </span>
                </div>
        </div>
</div>