<div class="card bq-green">
        <div class="card-content">
                <span class="card-title">Learning Paths
                        <a>
                                <span class="btn btn-green" (click)="openLearningPathsList()">VIEW ALL</span>
                        </a>
                </span>
                <div class="col s12">
                        <select class="dropdown col s5 right">
                                <option value="default">Select Learning paths Type</option>
                                <option value="all">All</option>
                                <option value="prerequisite">
                                        Pre-requisite Standard
                                </option>
                                <option value="curiculum">Curriculum Lesson Standard</option>

                        </select>&nbsp;
                </div>


                <div class="row">
                        <div class="col s12 m6 l4 xl4 count">
                                20 <br>
                                <span class="count-span btn-primary">
                                        Total Learning Paths
                                </span>

                        </div>
                        <div class="col s12 m6 l3 xl3 count">
                                10 <br>
                                <span class="count-span  btn-success">
                                        Completed
                                </span>

                        </div>
                        <div class="col s12 m6 l3 xl3 count">
                                05 <br>
                                <span class="count-span btn-warning">
                                        In Progress
                                </span>

                        </div>
                        <div class="col s12 m6 l2 xl2 count">
                                05 <br>
                                <span class="count-span btn-danger">
                                        Pending
                                </span>

                        </div>
                </div>
        </div>
</div>