$system: "only screen and (max-width:1920px)";
$large: "only screen and (max-width:1500px)";
$laptop: "only screen and (max-width:1350px)";
$medium: "only screen and (max-width:1165px)";
$extra-medium: "only screen and (max-width:1320px)";
$small-medium: "only screen and (max-width:1240px)";
$tab: "only screen and (max-width : 768px)";
$phone: "only screen and (max-width : 320px)";
