$color-black:#000000 ;
$color-white:#ffffff ;
$color-primary:#2e94ec;
$color-bprimary:#2e6da4;
$color-warning:#f79c1c;
$color-bwarning:#eea236;
$color-danger: #ef1912;
$color-bdanger:#d43f3a;
$color-success: #04b34b;
$color-bsuccess: #4cae4c;
$color-lightgrey:#f5f5f5 ;
$color-royalblue:#004d73 ;
$color-lightorange:#ff9933 ;
$color-green :  #04b34b;
$color-lightgreen:#2bc253;
$color-blue : #039be5 ;
$color-pink : #d81b60 ;
$color-red : #ff4444 ;
$color-indigo : #0d47a1 ;
$color-orange : #f57c00 ;
$color-blueborder:#004567;
$color-grey: #4d4d4d;
$color-contentgrey: #747373 ;
$color-brown:#795548;
$color-purple : #512da8 ;
$color-lightslategrey:lightslategrey;
$color-risk:rgb(221,2,2);
$color-low:rgb(246,65,5);
$color-satis:rgb(252,217,13);
$color-abvavg:rgb(9,160,178);
$color-master:rgb(108,163,63);