<div class="card bq-purple">
        <div class="card-content">
                <span class="card-title bq-purple-text">Lesson Summary
                        <a>
                                <span class="btn btn-purple">VIEW ALL</span>
                        </a>
                </span>

                <div class="count-list">
                        <div class="row">
                                <div class="col s12 m6 l3 xl3 count">
                                        25
                                </div>
                                <div class="col s12 m6 l3 xl3 count">
                                        15
                                </div>
                                <div class="col s12 m6 l3 xl3 count">
                                        05
                                </div>
                                <div class="col s12 m6 l3 xl3 count">
                                        05
                                </div>

                                <div class="col s12 m6 l3 xl3" style="text-align: center;">
                                        <span class="countl-span btn-primary">
                                                Total Lessons
                                        </span>
                                </div>
                                <div class="col s12 m6 l3 xl3" style="text-align: center;">
                                        <span class="countl-span  btn-success">
                                                Completed
                                        </span>
                                </div>
                                <div class="col s12 m6 l3 xl3" style="text-align: center;">
                                        <span class="countl-span btn-danger">
                                                Revision Required
                                        </span>
                                </div>
                                <div class="col s12 m6 l3 xl3" style="text-align: center;">
                                        <span class="countl-span btn-success">
                                                Revision Completed
                                        </span>
                                </div>
                        </div>
                </div>

        </div>
</div>