@import "../../../../styles/variables";
@import "../../../../styles/common";
@import "../../../../styles/responsive";
.title {
  font-family: sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  padding: 0;
  margin: 20px 0;
}
.card {
  margin: 5px 5px;
  height: 88.7vh;
}

@media #{$ipad-tab} {
  .card {
    height: calc(93vh);
  }
}

@media #{$tab} {
  .card {
    height: calc(92.5vh);
  }
}

@media #{$phone} {
  .card {
    height: calc(90vh);
  }
  .title {
    font-size: 18px;
    margin-top: 10px;
    span {
      font-size: 10px;
      padding: 1px 16px;
    }
  }
}
