<div class="row card bq-indigo">
    <div class="col xl12 l12 m12 s12">
        <h5 class="title bq-text-indigo">
            Manage Curriculums
            <span class="btn btn-indigo right" (click)="openNewCurriculum()">Create New</span>
        </h5>

        <div class="col xl12 l12 m12 s12 grid ">
            <jqxTreeGrid #TreeGrid (onCellClick)="cellClick($event)" [width]="getWidth()" [height]="getHeight()"
                [source]="dataAdapter" [columns]="columns" [rendered]="rendered" [altRows]="true" [autoRowHeight]="true"
                [columnsResize]="true" [sortable]="true" [filterable]="true" [filterMode]="'advanced'" [editSettings]="editSettings">
            </jqxTreeGrid>
        </div>
    </div>
</div>