<div class="row">
        <div class="col s12 m6 l6">
                <div class="card-profile bq-purple">
                        <span class="card-title bq-purple-text">Assessment Summary
                        </span>
                        <div class="chart-list">
                                <ul>
                                        <li>
                                                <div class="title left">
                                                        Pre-requisite Standard Assessments
                                                </div>


                                                <div class="col s10">
                                                        <stacked-bar-chart [values]="values1">
                                                        </stacked-bar-chart>
                                                </div>


                                                <span class="badge-purple btn-change right" mat-raised-button matTooltip="Update Knowledge Level" (click)="openUpdateList()">
                                                        <mat-icon>border_color</mat-icon>
                                                </span>
                                                <span class="badge-purple btn-change right" mat-raised-button matTooltip="View Details" (click)="openAssessmentList()">
                                                        <mat-icon>visibility</mat-icon>
                                                </span>
                                        </li>
                                        <li>
                                                <div class="title left">
                                                        Curriculum Lesson Assessments
                                                </div>

                                                <div class="col s10">
                                                        <stacked-bar-chart [values]="values2">
                                                        </stacked-bar-chart>
                                                </div>

                                                <span class="badge-purple btn-change right" mat-raised-button matTooltip="Update Knowledge Level" (click)="openUpdateList()">
                                                        <mat-icon>border_color</mat-icon>
                                                </span>
                                                <span class="badge-purple btn-change right" mat-raised-button (click)="openAssessmentList()" matTooltip="View Details">
                                                        <mat-icon>visibility</mat-icon>
                                                </span>


                                        </li>
                                        <li>
                                                <div class="title left">
                                                        Adhoc Assessments
                                                </div>
                                                <div class="col s10">
                                                        <stacked-bar-chart [values]="values4">
                                                        </stacked-bar-chart>
                                                </div>

                                                <span class="badge-purple btn-change right" mat-raised-button matTooltip="View Details" (click)="openAssessmentList()">
                                                        <mat-icon>visibility</mat-icon>
                                                </span>


                                        </li>

                                </ul>

                        </div>
                </div>
        </div>
        <div class="col s12 m6 l6">
                <div class="card-profile bq-green">
                        <span class="card-title bq-green-text">Learning Paths Summary
                                <a>
                                        <span class="btn btn-green create-new" (click)="openCreatePath()">Create New</span>
                                </a>
                        </span>
                        <div class="assignment-list">
                                <ul>
                                        <li>
                                                <span class="titles right">
                                                        <select class="dropdown right">
                                                                <option value="learningpathtype">Select Learning Path Type
                                                                        </option>
                                                                <option value="all" selected="selected">All</option>
                                                                <option value="prerequisite">Pre requisite Standard</option>
                                                                <option value="curriculum"> Curriculum Lesson Standard</option>
                                                        </select>

                                                        <span class="badge-green btn-change right" style="margin: 45px 0;" mat-raised-button matTooltip="View Details" (click)="openLearningPathList()">
                                                                <mat-icon>visibility</mat-icon>
                                                        </span>
                                                </span>
                                                <div class="col s7" style="padding-left: 2px;padding-top: 10px;">
                                                        <doughnut-chart></doughnut-chart>
                                                </div>
                                        </li>
                                </ul>
                        </div>
                </div>
        </div>
        <div class="col s12 m6 l6">
                <div class="card-profile bq-pink">
                        <span class="card-title bq-pink-text">Courses
                                <a>
                                        <span class="btn btn-pink create-new" (click)="openAssignCourses()"> Assign a new
                                                course</span>
                                </a>
                        </span>
                        <div class="assignment-list">
                                <ul>
                                        <li>
                                                <span class="badge-pink btn-change right" style="margin: 75px 0;" mat-raised-button matTooltip="View Details" (click)="openCourses()">
                                                        <mat-icon>visibility</mat-icon>
                                                </span>

                                                <div class="col s7" style="padding-left: 2px;padding-top: 10px;">
                                                        <doughnut-chart></doughnut-chart>
                                                </div>

                                        </li>
                                </ul>
                        </div>
                </div>

        </div>
        <div class="col s12 m6 l6">
                <div class="card-profile bq-indigo">
                        <span class="card-title bq-indigo-text">Projects / Activities
                        </span>
                        <div class="assignment-list">
                                <div class="col s7" style="padding-left: 10px;padding-top: 24px;">
                                        <doughnut-chart-level5></doughnut-chart-level5>
                                </div>
                                <div class="badge-indigo" style="margin-top: 16px" mat-raised-button matTooltip="Update Knowledge Level" (click)="openProjectListUpdate()">
                                        <mat-icon>border_color</mat-icon>
                                </div>
                                <br>

                                <span class="badge-indigo btn-change" mat-raised-button matTooltip="View Details" (click)="openProjectList()">
                                        <mat-icon>visibility</mat-icon>
                                </span>

                        </div>
                </div>

        </div>
</div>