<div class="dialog">
    <div class="collection">
        <form [formGroup]="filterForm">
            <div class="collection-item">
                <mat-label>Student :</mat-label>
                <mat-select placeholder="Select Student" formControlName="student" class="dropdown">
                    <mat-option value="Rajesh">Rajesh</mat-option>
                    <mat-option value="Nirmal">Nirmal</mat-option>
                    <mat-option value="Gowtham">Gowtham</mat-option>
                    <mat-option value="Arpit">Arpit</mat-option>
                </mat-select>
            </div>
            <span (click)="closeDialog()" class="btn-lightslategrey right">
                Apply Filter
            </span>
        </form>
    </div>
</div>