@import "../../../styles/variables";
@import "../../../styles/common";
.btn {
  height: 26px;
  padding: 0;
}

  .collection,
  .collection-item {
    font-family: sans-serif;
    padding: 5px;
  }
  
.btn-lightslategrey{
  font-family: sans-serif;
  font-size: 15px;
  padding: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transform: translateY(2px);
  cursor: pointer;
}
