<div class="row card-full bq-green">
  <div class="col xl12 l12 m12 s12">
    <h5 class="card-title bq-green-text">
      Create New Learning Path
      <span class="btn btn-green " (click)="onBack()">Back</span>
    </h5>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>

      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Select Lessons</ng-template>
          <tree-node [treeSource]="treeSource"></tree-node>
          <span class="left">
            *Learning path will include,
          </span>
          <div class="left">
            <mat-radio-group>
              <mat-radio-button value="1">Curiculum Lesson </mat-radio-button>&nbsp;&nbsp;
              <mat-radio-button value="2">Pre-requisite Standards </mat-radio-button>&nbsp;&nbsp;
              <mat-radio-button value="3">Both</mat-radio-button>
            </mat-radio-group>
          </div>
          <div style="float:right">
            <button class="btn btn-green" mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Select Learning Path Artifacts</ng-template>
          <div class="row card ">
            <div class="card-stepper left col s12 m6 l6">
              <div class="lesson">
                <b>
                  Select Lesson
                </b>
                <mat-list>
                  <mat-radio-group>
                    <mat-radio-button value="1">
                      <mat-list-item>
                        Grade 3 - Real numbers
                      </mat-list-item>
                    </mat-radio-button>
                    <br>
                    <mat-radio-button value="2">
                      <mat-list-item>
                        Grade 5 - Sets
                      </mat-list-item>
                    </mat-radio-button>&nbsp;&nbsp;
                  </mat-radio-group>
                </mat-list>
                <b>
                  Note :: TODO
                </b>
              </div>
            </div>
            <div class="card-stepper right col s12 m6 l6 ">
              <div class="lesson border-left">
                <b>
                  Include Artifacts
                </b>
                <tree-node-checkbox [treeSource]="contentSource" [checkBox]="true" [threeStates]="true"></tree-node-checkbox>
              </div>
            </div>
          </div>
          <div class="right">
            <button class="btn btn-danger" mat-button matStepperPrevious>Previous</button>
            <button class="btn btn-green" mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Add More Students</ng-template>
          <mat-label>
            <b>
              Add More Students
            </b>
          </mat-label>
          <mat-select placeholder="Select Students" class="dropdown" formControlName="student" multiple>
            <mat-option #allSelected (click)="toggleAllSelection()" [value]="0">All</mat-option>
            <mat-option *ngFor="let student of studentFilters" [value]="student.key">
              {{student.value}}
            </mat-option>
          </mat-select>
          <div class="right">
            <button class="btn btn-danger" mat-button matStepperPrevious>Previous</button>
            <button class="btn btn-green" mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
          <ng-template matStepLabel>Publish</ng-template>
          <div class="row card">
            <div class="card-stepper left col s12 m6 l6">
              <div class="unit">
                <mat-list>
                  <mat-list-item>
                      <input matInput [matDatepicker]="picker" placeholder="Select Due Date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                   <mat-divider></mat-divider>
                  </mat-list-item>
                  <mat-list-item>
                      <input type="number" matInput placeholder="Number of Assignees">
                      <span class="btn btn-green">
                        View
                      </span>
                    <mat-divider></mat-divider>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
            <div class="card-stepper right col s12 m6 l6 ">
              <div class="lesson border-left">
                <b>
                  Included Lessons
                </b>
                <mat-list>
                  <mat-list-item>
                    Grade 3 - Real numbers
                    <br>
                  </mat-list-item>
                  <mat-list-item>
                    Grade 5 - Sets
                    <br>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </div>

          <div class="right">
            <button class="btn btn-danger" mat-button matStepperPrevious>Previous</button>
            <button class="btn btn-green" mat-button>Publish</button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>