<!--Header-->
<navbar-component></navbar-component>
<!--Header-->
<mat-drawer-container class="drawer-height" autosize>

  <!--Sidenav bar-->
  <mat-drawer #drawer class="sidenav" mode="side" opened>

    <div mode="side" (click)="showFiller = !showFiller">
      <i>
        <mat-icon>menu</mat-icon>
      </i>
    </div>

    <div *ngFor="let item of menuItems">
      <a [routerLink]="[item.url]" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
        <i>
          <mat-icon>{{ item.iconName }}</mat-icon>
        </i>
        <span *ngIf="showFiller" mode="side" (click)="showFiller = !showFiller">
          {{ item.title}}
        </span>
      </a>
    </div>    

  </mat-drawer>
  <!--Sidenav bar-->

  <!--main content-->
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
  <!--main content-->

  <!--footer-->
  <footer style="text-align: center;background:rgb(255, 153, 51);color:white; ">
    Copyright 2018 @ LEARNOMAC
  </footer>
  <!--footer-->

</mat-drawer-container>