<div class="card bq-brown">
        <div class="card-content">
                <span class="card-title col xl8 l8 m12 s12">Performance Summary
                </span>
                <span class="actions">
                        <a>
                                <span class="btn btn-brown" (click)="openPerformanceList()">VIEW ALL</span>
                        </a>
                </span>
                <span class="dropdown-style right col xl6 l6 m11 s12">
                        <mat-form-field>
                                <mat-select placeholder="Select Assessment Type">
                                        <mat-option value="1">Pre-requisite Assessment</mat-option>
                                        <mat-option value="2">Curriculum Assessment</mat-option>
                                        <mat-option value="3">Adhoc Assessment</mat-option>
                                </mat-select>
                        </mat-form-field>
                </span>
                <div class="col xl12 l12 m12 s12 chart-list">
                        <span class="title">
                                Grade 4th Std- Maths -Number Systems
                        </span>
                        <stacked-bar-chart [values]="values1">
                        </stacked-bar-chart>
                        <br>
                        <span class="title">
                                Grade 7th Std- Science -State Properties
                        </span>
                        <stacked-bar-chart [values]="values2">
                        </stacked-bar-chart>
                        <br>

                        <div *ngIf="showScroll">
                                <span class="title">
                                        Grade 10th Std- Social -Demogracy
                                </span>
                                <stacked-bar-chart [values]="values4">
                                </stacked-bar-chart>
                                <br>
                                <span class="title">
                                        Grade 9th Std- English -Grammer Part-1
                                </span>
                                <stacked-bar-chart [values]="values1">
                                </stacked-bar-chart>
                                <br>

                                <span class="title">
                                        Grade 5th Std- Maths -Geometry
                                </span>
                                <stacked-bar-chart [values]="values3">
                                </stacked-bar-chart>
                                <br>
                        </div>
                </div>



                <a class="badge-brown" (click)="showScroll = !showScroll">
                        <p *ngIf="!showScroll">
                                <mat-icon>more_horiz</mat-icon>
                        </p>
                        <p *ngIf="showScroll">
                                <mat-icon>expand_less</mat-icon>
                        </p>
                </a>
        </div>
</div>