<div class="row card bq-pink">
    <div class="col l12 m12 s12">
        <h5 class="card-title bq-pink-text">
            My Course Details
            <span class="btn btn-pink " (click)="onBack()">Back</span>
            <span class="col xl12 l12 m12 s12">
                <select class="dropdown col s6 m4 l4 xl4 right" (change)="onNavigate($event.target.value)">
                    <option value="default">Select Course Status</option>
                    <option value="courses/courses-details-approved" selected="selected">
                        Approved
                    </option>
                    <option value="courses/courses-details-drafts">
                        Drafts
                    </option>
                    <option value="courses/courses-details-published">
                        Published
                    </option>
                    <option value="courses/courses-details-pending-approval">
                        Pending Approval
                    </option>
                    <option value="courses/courses-details-changes">
                        Changes Required
                    </option>
                </select>&nbsp;
            </span>

        </h5>
        <br>
        <div class="col l12 m12 s12" style="padding: 0">
            <div class="grid">
                <ag-grid-angular class="ag-theme-balham" style="width: 100%;
                                        height: calc(64vh);margin-left: 0px;"
                    [enableSorting]="true" [enableFilter]="false" [rowData]="rowData" [columnDefs]="columnDefs"
                    rowSelection="multiple" [suppressContextMenu]="true" [suppressMenuMainPanel]="true"
                    [enableColResize]="true" [suppressMenuColumnPanel]="true" [floatingFilter]="true" (cellClicked)="onCellClicked($event)">
                </ag-grid-angular>
            </div>
        </div>
    </div>
</div>