<div class="card bq-pink">
        <div class="card-content">
                <span class="card-title bq-pink-text">Lesson Summary

                </span>

                <div class="row">
                        <div class="col s12 m6 l3 xl3 count">
                                20 <br>
                                <span class="count-span btn-primary">
                                        Total Lessons
                                </span>

                        </div>
                        <div class="col s12 m6 l2 xl2 count">
                                10 <br>
                                <span class="count-span  btn-success">
                                        Completed
                                </span>
                        </div>
                        <div class="col s12 m6 l3 xl3 count">
                                05 <br>
                                <span class="count-span btn-danger">
                                        Revision Required
                                </span>

                        </div>
                        <div class="col s12 m6 l4 xl4 count">
                                05 <br>
                                <span class="count-span btn-success">
                                        Revision Completed
                                </span>

                        </div>
                </div>
        </div>
</div>