<div class="card bq-pink">
        <div class="card-content">
                <span class="card-title bq-pink-text">Lesson Summary

                </span>

                <div class="row col xl12  l12 m12 s12">
                        <div class="col xl3  l3 m6 s12 count">
                                20 <br>
                                <span class="count-span btn-primary">
                                        Total Lessons
                                </span>

                        </div>
                        <div class="col xl2 l2 m6 s12 count">
                                10 <br>
                                <span class="count-span  btn-success">
                                        Completed
                                </span>
                        </div>
                        <div class="col xl3  l3 m6 s12 count">
                                05 <br>
                                <span class="count-span btn-danger">
                                        Revision Required
                                </span>

                        </div>
                        <div class="col xl4  l4 m6 s12 count">
                                05 <br>
                                <span class="count-span btn-success">
                                        Revision Completed
                                </span>

                        </div>
                </div>
        </div>
</div>