<div class="row card bq-green">
    <div class="col xl12 l12 m12 s12">
        <h5 class="card-title bq-green-text">
            <!-- Prerequisite Standards , -->
            <!-- Curiculum Lesson Standard -->
            Learning Paths
            <span class="btn btn-green " (click)="onBack()">Back</span>
            <span class="col xl12 l12 m12 s12">
                <select class="dropdown col s6 m4 l3 xl2 right">
                    <option value="default" selected="selected">Select Learning Path</option>
                    <option value="1">
                        Prerequisite Standard
                    </option>
                    <option value="2">
                        Curiculum Lesson Standard
                    </option>
                </select>&nbsp;
            </span>

        </h5>
        <br>
        <div class="col xl12 l12 m12 s12" style="padding: 0">
            <div class="grid">
                <jqxTreeGrid #TreeGrid (onCellClick)="cellClick($event)" [width]="getWidth()" [height]="getHeight()"
                [source]="dataAdapter" [columns]="columns" [rendered]="rendered" [altRows]="true" [autoRowHeight]="true"
                [columnsResize]="true" [sortable]="true" [filterable]="true" [filterMode]="'advanced'"
                [editSettings]="editSettings">
            </jqxTreeGrid>
            </div>
        </div>
    </div>
</div>