<div class="card bq-indigo">
        <div class="card-content">
                <span class="card-title">Messages
                        <a>
                                <span class="btn btn-indigo" (click)="openMessageList()">VIEW ALL</span>
                        </a>
                </span>

                <div class="content-list">
                        <ul class="list-group">
                                <li mat-raised-button matTooltip="Parent of Ganesh - Grade : 4  Section : B">
                                        Could not do well in Maths -
                                        <span class="bq-orange-text">11/10/18</span>&nbsp;
                                        <sup class="btn-blue">new</sup>&nbsp;
                                        <span class="badge-indigo right" (click)="openViewDialog()">
                                                <mat-icon>visibility</mat-icon>
                                        </span>

                                </li>
                                <li mat-raised-button matTooltip="Parent of Ganesh - Grade : 4  Section : B">
                                        Could not do well in Science -
                                        <span class="bq-orange-text">20/09/18</span>&nbsp;
                                        <sup class="btn-success">sent</sup>
                                        <span class="badge-indigo right" (click)="opensentDialog()">
                                                <mat-icon>visibility</mat-icon>
                                        </span>
                                </li>
                                <li mat-raised-button matTooltip="Parent of Ganesh - Grade : 4  Section : B">
                                        Could not do well in Maths -
                                        <span class="bq-orange-text">26/09/18</span>&nbsp;
                                        <sup class="btn-blue">new</sup>&nbsp;
                                        <span class="badge-indigo right" (click)="openViewDialog()">
                                                <mat-icon>visibility</mat-icon>
                                        </span>
                                </li>
                                <li mat-raised-button matTooltip="Parent of Ganesh - Grade : 4  Section : B">
                                        Could not do well in Social -
                                        <span class="bq-orange-text">11/10/18</span>&nbsp;
                                        <sup class="btn-success">sent</sup>
                                        <span class="badge-indigo right" (click)="opensentDialog()">
                                                <mat-icon>visibility</mat-icon>
                                        </span>
                                </li>
                                <li>
                                        Could not do well in Telugu -
                                        <span class="bq-orange-text">11/10/18</span>&nbsp;
                                        <sup class="btn-blue">new</sup>&nbsp;
                                        <span class="badge-indigo right" (click)="openViewDialog()">
                                                <mat-icon>visibility</mat-icon>
                                        </span>

                                </li>
                                <div *ngIf="showScroll" id="scroll">
                                        <li mat-raised-button matTooltip="Parent of Ganesh - Grade : 4  Section : B">
                                                Could not do well in Social -
                                                <span class="bq-orange-text">11/10/18</span>&nbsp;
                                                <sup class="btn-success">sent</sup>
                                                <span class="badge-indigo right" (click)="opensentDialog()">
                                                        <mat-icon>visibility</mat-icon>
                                                </span>
                                        </li>
                                        <li mat-raised-button matTooltip="Parent of Ganesh - Grade : 4  Section : B">
                                                Could not do well in Telugu -
                                                <span class="bq-orange-text">11/10/18</span>&nbsp;
                                                <sup class="btn-blue">new</sup>&nbsp;
                                                <span class="badge-indigo right" (click)="openViewDialog()">
                                                        <mat-icon>visibility</mat-icon>
                                                </span>

                                        </li>
                                        <li>
                                                Could not do well in Maths -
                                                <span class="bq-orange-text">11/10/18</span>&nbsp;
                                                <sup class="btn-blue">new</sup>&nbsp;
                                                <span class="badge-indigo right" (click)="openViewDialog()">
                                                        <mat-icon>visibility</mat-icon>
                                                </span>

                                        </li>
                                </div>
                        </ul>
                        <a class="badge-indigo" (click)="showScroll = !showScroll">
                                <p *ngIf="!showScroll">
                                        <mat-icon>more_horiz</mat-icon>
                                </p>
                                <p *ngIf="showScroll">
                                        <mat-icon>expand_less</mat-icon>
                                </p>
                        </a>

                </div>
        </div>
</div>