<div class="card bq-pink">
    <div class="card-content">
        <span class="card-title">My Courses
            <a>
                <span class="btn btn-pink">VIEW ALL</span>
            </a>
        </span>
        <div class="count-list col s12 m12 l12 xl12">
            <div class="row">
                <div class="col s3 m3 l6 xl3 count">
                    04
                    <span class="count-span btn-primary">
                        new
                    </span>

                </div>
                <div class="col s3 m3 l6 xl3 count">
                    08
                    <span class="count-span  btn-warning">
                        inprogress
                    </span>

                </div>
                <div class="col s3 m3 l6 xl3 count">
                    06
                    <span class="count-span btn-danger">
                        pending
                    </span>
                </div>
                <div class="col s3 m3 l6 xl3 count">
                    10
                    <span class="count-span btn-success">
                        completed
                    </span>
                </div>              
            </div>
        </div>

    </div>
</div>