<div class="card bq-orange">
    <div class="col xl12 l12 m12 s12 title bq-orange-text">
        <h5>Attendance
        </h5>
    </div>

    <div class="left calendar ">
        <jqx-calendar></jqx-calendar>
    </div>

    <span class="btn btn-orange right select-all" *ngIf="showDeselect">
        Deselect All
    </span>
    <span class="btn btn-orange right select-all" (click)="showDeselect = !showDeselect">
        Select All
    </span>


    <div class="student-list right">
        <div class="collection">
            <div class="collection-item valign-wrapper">
                <div class="col s2">
                    <img src="../assets/images/profile1.png" alt="" class="circle responsive-img">
                </div>
                <div class="col s10 right">
                    <mat-checkbox [labelPosition]="'before'">
                        Aravind Raja
                    </mat-checkbox>
                </div>
            </div>
            <div class="collection-item valign-wrapper">
                <div class="col s2">
                    <img src="../assets/images/profile2.png" alt="" class="circle responsive-img">
                </div>
                <div class="col s10 right">
                    <mat-checkbox [labelPosition]="'before'">
                        Bala Abirami
                    </mat-checkbox>
                </div>
            </div>
            <div class="collection-item valign-wrapper">
                <div class="col s2">
                    <img src="../assets/images/profile2.png" alt="" class="circle responsive-img">
                </div>
                <div class="col s10 right">
                    <mat-checkbox [labelPosition]="'before'">
                        Sri Devi
                    </mat-checkbox>
                </div>
            </div>
            <div class="collection-item valign-wrapper">
                <div class="col s2">
                    <img src="../assets/images/profile1.png" alt="" class="circle responsive-img">
                </div>
                <div class="col s10 right">
                    <mat-checkbox [labelPosition]="'before'">
                        Daniel Joseph
                    </mat-checkbox>
                </div>
            </div>
            <div class="collection-item valign-wrapper">
                <div class="col s2">
                    <img src="../assets/images/profile2.png" alt="" class="circle responsive-img">
                </div>
                <div class="col s10 right">
                    <mat-checkbox [labelPosition]="'before'">
                        Eswari Raj
                    </mat-checkbox>
                </div>
            </div>
            <div class="collection-item valign-wrapper">
                <div class="col s2">
                    <img src="../assets/images/profile2.png" alt="" class="circle responsive-img">
                </div>
                <div class="col s10 right">
                    <mat-checkbox [labelPosition]="'before'">
                        Fathima Faizal
                    </mat-checkbox>
                </div>
            </div>
            <div class="collection-item valign-wrapper">
                <div class="col s2">
                    <img src="../assets/images/profile1.png" alt="" class="circle responsive-img">
                </div>
                <div class="col s10 right">
                    <mat-checkbox [labelPosition]="'before'">
                        Steve Jobs
                    </mat-checkbox>
                </div>
            </div>
            <div class="collection-item valign-wrapper">
                <div class="col s2">
                    <img src="../assets/images/profile1.png" alt="" class="circle responsive-img">
                </div>
                <div class="col s10 right">
                    <mat-checkbox [labelPosition]="'before'">
                        Brain Lara
                    </mat-checkbox>
                </div>
            </div>
            <div class="collection-item valign-wrapper">
                <div class="col s2">
                    <img src="../assets/images/profile1.png" alt="" class="circle responsive-img">
                </div>
                <div class="col s10 right">
                    <mat-checkbox [labelPosition]="'before'">
                        Robin Peter Son
                    </mat-checkbox>
                </div>
            </div>
            <div class="collection-item valign-wrapper">
                <div class="col s2">
                    <img src="../assets/images/profile2.png" alt="" class="circle responsive-img">
                </div>
                <div class="col s10 right">
                    <mat-checkbox [labelPosition]="'before'">
                        Gayathri Raguram
                    </mat-checkbox>
                </div>
            </div>
            <div class="collection-item valign-wrapper">
                <div class="col s2">
                    <img src="../assets/images/profile1.png" alt="" class="circle responsive-img">
                </div>
                <div class="col s10 right">
                    <mat-checkbox [labelPosition]="'before'">
                        Raj Kumar
                    </mat-checkbox>
                </div>
            </div>
            <div class="collection-item valign-wrapper">
                <div class="col s2">
                    <img src="../assets/images/profile1.png" alt="" class="circle responsive-img">
                </div>
                <div class="col s10 right">
                    <mat-checkbox [labelPosition]="'before'">
                        Halim Hazaan
                    </mat-checkbox>
                </div>
            </div>
        </div>
    </div>

    <div class="left card-calendar">
        <h5 class="card-title">Attendance Summary</h5>
        <div class="row">
            <div class="col xl4 l4 m5 s6 count">
                25 <br>
                <span class="btn-blue count-span">
                    Total Number of Students
                </span>
            </div>
            <div class="col xl4 l4 m3 s3 count">
                20 <br>
                <span class="btn-success count-span">
                    Presents
                </span>
            </div>
            <div class="col xl4 l4 m4 s3 count">
                <a (click)="openViewAbsentees()">
                    05
                </a>
                <br>
                <span class="btn-danger count-span">
                    Absents
                </span>
            </div>
        </div>
    </div>

    <div class="student-actions right">
        <span class="btn btn-success" style="margin-right:10px">
            Save
        </span>
        <span class="btn btn-danger">
            Cancel
        </span>
    </div>

</div>