@import "../../styles/variables";
@import "../../styles/common";
@import "../../styles/responsive";
.row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}
.col {
  padding-left: 0;
  padding-right: 0;
}
.card {
  height: calc(87vh);
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  font-weight: 400;
  overflow: auto;
}
.title {
  font-family: sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  padding: 0px;
}
.select-all {
  margin-right: 30px;
  margin-bottom: 10px;
}
.img-rounded {
  width: 85%;
  border-radius: 50%;
}
.calendar {
  height: calc(42vh);
  width: 68%;
  position: static;
}
.student-list {
  width: 30%;
  height: calc(55vh);
  overflow-y: auto;
  //max-width: 25%;
}
.collection {
  margin: 0 !important;
}
img.responsive-img {
  max-width: 70px !important;
  max-height: 70px;
  margin-right: 25px;
}
.student-actions {
  width: 30%;
  height: calc(7vh);
  margin-right: 0;
  margin-top: 10px;
  text-align: center;
}
.card-calendar {
  width: 68%;
  height: calc(25vh);
  margin: 10px 0;
  font-family: sans-serif;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  font-weight: 400;
  overflow: auto;
}
.card-title {
  font-weight: 600;
  font-family: sans-serif;
  font-size: 20px !important;
  margin: 5px 0;
  text-transform: uppercase;
  padding: 5px;
}

.count {
  font-size: 40px;
  padding-top: 10px;
  color: black;
  text-align: center;
}
.count-span {
  font-size: 9px;
  padding: 6px;
  text-transform: uppercase;
  border-radius: 20px;
}

@media #{$small-medium} {
  .select-all {
    margin-right: 20px;
    margin-bottom: 10px; 
  }
}

@media #{$ipad-tab} {
  .card {
    height: calc(94vh);
  }
  .student-list {
    height: calc(72vh);
    width: 30%;
  }
  .student-actions {
    width: 30%;
  }
  .card-calendar {
    width: 68%;
    height: calc(21vh);
    margin-top: 20px;
  }
  .calendar {
    height: calc(60vh);
    width: 68%;
  }
  .count {
    padding-top: 60px;
  }
  .select-all {
    margin-right: 2px;
    margin-bottom: 10px; 
  }
}

@media #{$tab} {
  .card {
    height: calc(93vh);
  }
  .student-list {
    height: calc(71vh);
    width: 42%;
  }
  .card-calendar {
    width: 54%;
    height: calc(21vh);
    margin-top: 10px;
  }
  .student-actions {
    width: 42%;
  }
  .calendar {
    height: calc(60vh);
    width: 54%;
  }
  .count {
    padding-top: 30px;
  }
  .select-all {
    margin-right: 12px;
    margin-bottom: 10px;
  }
}

@media #{$phone} {
  .card {
    height: calc(94vh);
  }
  .student-list {
    height: calc(40vh);
    width: 100%;
  }
  .card-calendar {
    width: 100%;
    height: calc(30vh);
    margin-top: 10px;
  }
  .student-actions {
    width: 100%;
  }
  .calendar {
    height: calc(36vh);
    width: 100%;
    margin-bottom: 10px;
  }
  .count {
    padding-top: 30px;
  }
  .student{
   margin-right: 16px;
  }
  .select-all {
   margin-right: 10px;
   margin-top:0; 
  }
}
