<div class="row">
    <div class="col s12 m6 l4 xl4">
        <home-news></home-news>
    </div>
    <div class="col s12 m6 l4 xl4">
        <home-circulars></home-circulars>
    </div>
    <div class="col s12 m6 l4 xl4">
        <home-notifications></home-notifications>
    </div>
    <div class="col s12 m6 l4 xl4">
        <home-messages></home-messages>
    </div>
    <div class="col s12 m6 l4 xl4">
        <home-calendar></home-calendar>
    </div>
    <div class="col s12 m6 l4 xl4">
        <home-courses></home-courses>
    </div>
</div>