@import "../../styles/variables";
@import "../../styles/common";
@import "../../styles/responsive";
.row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}
.col {
  padding-left: 5px;
  padding-right: 5px;
}
.card {
  height: calc(87.2vh);
  margin: 10px;
  padding: 8px;
  font-family: sans-serif;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  font-weight: 400;
  overflow: auto;
}
.card-performance {
  height: calc(37.2vh);;
  margin: 5px;
  font-family: sans-serif;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  font-weight: 400;
  overflow: auto;
}
.img-rounded {
  width: 85%;
  border-radius: 50%;
}
.top {
  border-bottom: 3px solid lightgrey;
  padding-bottom: 250px;
}
.profile-content {
  font-family: sans-serif;
  color: $color-contentgrey !important;
  h3 {
    font-size: 20px !important;
  }
  span {
    font-size: 16px !important;
  }
  p {
    font-size: 15px !important;
  }
}
.col {
  padding: 0;
  margin: 0;
}
.list-items {
  margin-bottom: 10px;
}
.card-profile {
  height: calc(37.2vh);
  margin: 5px;
  padding: 9px;
  font-family: sans-serif;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  font-weight: 400;
  overflow: auto;
}
.profile {
  padding-top: 40px !important;
  padding-left: 100px !important;
}
.card-title {
  font-weight: 400;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
  span {
    font-size: 11px;
    float: right;
    margin-right: 2px;
  }
}
.collection a.collection-item {
  color: $color-contentgrey;
}
.icon {
  padding-right: 10px;
}
.chart-list {
  .title {
    font-size: 18px;
    font-family: sans-serif;
    color: $color-contentgrey;
    line-height: 35px;
  }
}
.btn-change {
  font-size: 12px;
  padding: 3px;
  margin-right: 0.5pc;
}
.assignment-list {
  .titles {
    font-size: 18px;
    font-family: sans-serif;
    color: $color-contentgrey;
    line-height: 18px;
  }
}
.chart-style{
  padding: 10px 2px 0 0;
}
.courses-list {
  padding: 40px 0;
}
.collection a.collection-item {
  color: $color-contentgrey;
}
.btn {
  font-size: 11px;
}
sup {
  padding: 2px;
  border-radius: 20px;
}

@media #{$ipad-tab} {
  .card {
    height: calc(93vh);
  }
  .card-profile {
    height: calc(21.5vh);
  }
  .profile-content{
    padding-top:30px; 
  }
  .chart-style{
    padding-top: 25px;
  }
}

@media #{$tab} {
  .card {
    height: calc(92.5vh);
  }
  .card-profile {
    height: calc(20.5vh);
  }
  .profile{
    padding-top: 25px;
  }
  .profile-content{
    padding-top:0px; 
  }
  .chart-style{
    padding-top: 0;
    padding-left: 0;
  }
}

@media #{$phone} {
  .card {
    height: calc(90vh);
  }
  .chart-style{
    padding-top: 0;
    padding-left: 0;
  }
}
