@import "../../styles/variables";
@import "../../styles/common";
.row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}
.col {
  padding-left: 5px;
  padding-right: 5px;
}
.card {
  height: calc(87.3vh);
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  font-weight: 400;
  overflow: auto;
}
.card-performance {
  height: calc(37vh);
  margin: 5px;
  font-family: sans-serif;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  font-weight: 400;
  overflow: auto;
}
.img-rounded {
  width: 85%;
  border-radius: 50%;
}
.top {
  border-bottom: 3px solid lightgrey;
  padding-bottom: 250px;
}
.profile-content {
  font-family: sans-serif;
  color: $color-contentgrey !important;
  h3 {
    font-size: 20px !important;
  }
  span {
    font-size: 16px !important;
  }
  p {
    font-size: 15px !important;
  }
}
.col {
  padding: 0;
  margin: 0;
}
.list-items {
  margin-bottom: 10px;
}
.card-profile {
  height: calc(37vh);
  margin: 5px;
  padding: 9px;
  font-family: sans-serif;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  font-weight: 400;
  overflow: auto;
}
.card-title {
  font-weight: 400;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
  span {
    font-size: 11px;
    float: right;
  }
}
.collection a.collection-item {
  color: $color-contentgrey;
}
.icon {
  padding-right: 30px;
}
.chart-list {
  .title {
    font-size: 18px;
    font-family: sans-serif;
    color: $color-contentgrey;
    line-height: 35px;
  }
}
.btn-change{
  font-size: 12px;
  padding: 3px;
}
.assignment-list{
  .titles {
    font-size: 18px;
    font-family: sans-serif;
    color: $color-contentgrey;
    line-height: 18px;
  }
}
.courses-list{
 padding: 40px 0;
}