<div class="row card bq-indigo">
    <div class="col xl12 l12 m12 s12">
        <h5 class="title bq-text-indigo">
            Manage Curriculums - View Affilications
            <span class="btn btn-indigo right" (click)="onBack()">Back</span>
        </h5>
        <div class="col xl12 l12 m12 s12">
            <div class="col xl3 l3 m3 s3 card-list" style="float: left;">
                <div>Affilications Summary</div>
                <jqxDropDownList #myDropDownList (click)="myDropDownListOnSelect($event)" [width]="300" [selectedIndex]="0" [autoDropDownHeight]="true" [source]="listSource">
                </jqxDropDownList>
                <div style="margin-top: 10px"></div>
                <jqxListBox #myListBox (change)="myListBoxOnCheckChange($event)" [width]="300" [height]="375" [checkboxes]="true">
                </jqxListBox>
                <div style="margin-top: 10px">
                    <span class="btn btn-indigo" (click)="applyBtnOnClick()">Apply Filter</span>
                    <span class="btn btn-indigo right" (click)="clearBtnOnClick()">Clear Filter</span>
                </div>
            </div>
            <div class="col xl8 l8 m8 s8">
                    <jqxTreeGrid #myTreeGrid [width]="890" [height]="498" [source]="dataAdapter" [columns]="columns" [sortable]="true" [ready]="ready">
                        </jqxTreeGrid>
            </div>
        </div>
    </div>
</div>