<div class="dialog">
    <h5 class="card-title bq-indigo-text">Real Numbers in day to day life
        <a (click)="closeDialog()">
            <span class="btn btn-danger right">
                <mat-icon>clear</mat-icon>
            </span>
        </a>
    </h5>
    <div class="collection col l5">
        <div class="collection-item">
            <h6>Objective</h6>
            <p>Identifying use of real numbers in day to day life.</p>
        </div>
        <div class="collection-item">
            <h6>
                Step 1
            </h6>
            <p>Count the number of trees</p>
        </div>
        <div class="collection-item">
            <h6>
                Step 2 - Follow the video
            </h6>
            <p>Real Numbers Video Source
                <a href="https://www.youtube.com/real_numbers">Click Here</a>
            </p>
        </div>
    </div>
</div>