<div class="row card-full bq-green">
    <div class="col xl12 l12 m12 s12">
        <h5 class="card-title bq-green-text col xl12 l12 m12 s12">
            Grade 5 -Mathematics - Unit 1 - Probability - Advanced - Activity 1
            <span class="btn btn-green right" (click)="onBack()">Back</span>
        </h5>
        <div class="col xl12 l12 m12 s12">
            <mat-horizontal-stepper [linear]="isLinear" #stepper>

                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Project / Activity</ng-template>
                        <div class="row card ">
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header class="btn-lightgreen">
                                        <mat-panel-title>
                                            Objective
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <span>Identifying use of real numbers in day to day life.</span>

                                </mat-expansion-panel>

                                <mat-expansion-panel>
                                    <mat-expansion-panel-header class="btn-orange">
                                        <mat-panel-title>
                                            Step 1
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Description
                                        </mat-panel-description>

                                    </mat-expansion-panel-header>
                                    <span>
                                        Count the number of trees
                                    </span>

                                </mat-expansion-panel>

                                <mat-expansion-panel>
                                    <mat-expansion-panel-header class="btn-purple">
                                        <mat-panel-title>
                                            Step 2
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Follow the video
                                        </mat-panel-description>

                                    </mat-expansion-panel-header>
                                    <span>
                                        Probability Video Source <a href="https://www.youtube.com">Click Here</a>
                                    </span>

                                </mat-expansion-panel>

                            </mat-accordion>
                        </div>

                        <div style="float:right">
                            <button class="btn btn-green" mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>

                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Selected Assignees</ng-template>
                        <div class="row card">
                            <div class="lesson">
                                Total Number of Assignees : 60 <span class="btn btn-green" (click)="openViewAssignees()">View</span>
                                <br>
                                <br>
                                <mat-label>
                                    Published on 29/08/18
                                </mat-label>
                            </div>
                        </div>

                        <div class="right">
                            <button class="btn btn-danger" mat-button matStepperPrevious>Previous</button>
                            <button class="btn btn-green" mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>

            </mat-horizontal-stepper>
        </div>
    </div>
</div>