<div class="card bq-red">
        <div class="card-content">
                <span class="card-title">News
                        <a>
                                <span class="btn btn-red">VIEW ALL</span>
                        </a>
                </span>
                <div class="content-list">
                        <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">Cras justo odio
                                        <a (click)="openDialog()">
                                                <span class="badge-red">
                                                        <mat-icon>add_box</mat-icon>
                                                </span>
                                        </a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">Dapibus ac facilisis in
                                        <a (click)="openDialog()">
                                                <span class="badge-red">
                                                        <mat-icon>add_box</mat-icon>
                                                </span>
                                        </a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">Morbi leo risus
                                        <a (click)="openDialog()">
                                                <span class="badge-red">
                                                        <mat-icon>add_box</mat-icon>
                                                </span>
                                        </a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">Cras justo odio
                                        <a (click)="openDialog()">
                                                <span class="badge-red">
                                                        <mat-icon>add_box</mat-icon>
                                                </span>
                                        </a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">Cras justo odio
                                        <a (click)="openDialog()">
                                                <span class="badge-red">
                                                        <mat-icon>add_box</mat-icon>
                                                </span>
                                        </a>
                                </li>


                                <div *ngIf="showScroll" id="scroll">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">Cras justo odio
                                                <a (click)="openDialog()">
                                                        <span class="badge-red">
                                                                <mat-icon>add_box</mat-icon>
                                                        </span>
                                                </a>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">Dapibus ac facilisis in
                                                <a (click)="openDialog()">
                                                        <span class="badge-red">
                                                                <mat-icon>add_box</mat-icon>
                                                        </span>
                                                </a>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">Morbi leo risus
                                                <a (click)="openDialog()">
                                                        <span class="badge-red">
                                                                <mat-icon>add_box</mat-icon>
                                                        </span>
                                                </a>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">Cras justo odio
                                                <a (click)="openDialog()">
                                                        <span class="badge-red">
                                                                <mat-icon>add_box</mat-icon>
                                                        </span>
                                                </a>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">Cras justo odio
                                                <a (click)="openDialog()">
                                                        <span class="badge-red">
                                                                <mat-icon>add_box</mat-icon>
                                                        </span>
                                                </a>
                                        </li>
                                </div>
                        </ul>

                        <a class="badge-red" (click)="showScroll = !showScroll">
                                <p *ngIf="!showScroll">
                                        <mat-icon>more_horiz</mat-icon>
                                </p>
                                <p *ngIf="showScroll">
                                        <mat-icon>expand_less</mat-icon>
                                </p>
                        </a>
                </div>

        </div>
</div>