<div class="card bq-orange">
        <div class="card-content">
                <span class="card-title">Performance Summary
                        <a>
                                <span class="btn btn-orange">VIEW ALL</span>
                        </a>
                </span>

                <div class="col s12 ">
                        <select class="col s4 dropdown right">
                                <option value="assessment">Select Assessment Type </option>
                                <option value="pre">Pre requesite assessment</option>
                                <option value="post">Post lesson assessment</option>
                                <option value="adhoc">Adhoc assessment</option>
                        </select>
                </div>
                <div class="chart-list">
                        <span class="title">
                                Grade 4th Std- Maths -Number Systems
                        </span>
                        <stacked-bar-chart [values]="values1">
                        </stacked-bar-chart>
                        <br>
                        <span class="title">
                                Grade 7th Std- Science -State Properties
                        </span>
                        <stacked-bar-chart [values]="values2">
                        </stacked-bar-chart>
                        <br>


                        <div *ngIf="showScroll">
                                <span class="title">
                                        Grade 10th Std- Social -Demogracy
                                </span>
                                <stacked-bar-chart [values]="values4">
                                </stacked-bar-chart>
                                <br>
                                <span class="title">
                                        Grade 9th Std- English -Grammer Part-1
                                </span>
                                <stacked-bar-chart [values]="values1">
                                </stacked-bar-chart>
                                <br>

                                <span class="title">
                                        Grade 5th Std- Maths -Geometry
                                </span>
                                <stacked-bar-chart [values]="values3">
                                </stacked-bar-chart>
                                <br>
                        </div>
                </div>

           

                <a class="badge-orange" (click)="showScroll = !showScroll">
                        <p *ngIf="!showScroll">
                                <mat-icon>more_horiz</mat-icon>
                        </p>
                        <p *ngIf="showScroll">
                                <mat-icon>expand_less</mat-icon>
                        </p>
                </a>
        </div>
</div>